<div class="body-region px-5 py-2">
    <div class="card d-flex flex-row mb-3">
        <a href={{this.place.photo}} class="mx-5"><i class="bi bi-geo-alt-fill" style="font-size: 2rem; color: cornflowerblue;"></i></a>
        <div class="card-description flex-fill">
            <h3>{{this.place.name}}</h3>
            <div>{{this.place.info}}</div>
        </div>
        <div class="card-buttongroup d-flex flex-column justify-content-between">
            <button type="button" class="btn btn-success"><i class="bi bi-bookmark-heart"></i>
            </button>
        </div>
    </div>

